.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.link {
    font-size: 24px;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    margin-right: 40px;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}