
.movie_item {
    margin-top: 10px;
}

.link {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #6495ED;
}