.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  
.cast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap:25px;
}

.actor_card{
    text-align: center;
    display: block;
    width: 150px;

}

.actor_img{
    width: 150px;
    height: 250px;
    object-fit: cover;
}